go 1.24.0

toolchain go1.24.4

use (
	./apps/cli
	./apps/deploy-engine
	./libs/blueprint
	./libs/blueprint-resolvers
	./libs/blueprint-state
	./libs/common
	./libs/deploy-engine-client
	./libs/plugin-framework
	./tools/bluelink-manager
	./tools/blueprint-ls
	./tools/plugin-docgen
)
