name: Bluelink CLI

# Triggers on push or pull request to main branch
# Runs unit and integration tests without coverage reporting to Sonar
# For coverage reporting with e2e tests, see app-go-cli-coverage.yml
on:
  push:
    branches: [main]
    paths:
      - 'apps/cli/**'
      - '.github/workflows/app-go-cli.yml'
  pull_request:
    branches: [main]
    paths:
      - 'apps/cli/**'
      - '.github/workflows/app-go-cli.yml'
  workflow_dispatch:

jobs:
  integrate:
    runs-on: ubuntu-latest
    env:
      working-directory: ./apps/cli

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Install Go Global Dependencies
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go get -u golang.org/x/sys/unix
        working-directory: ${{ env.working-directory }}

      - name: Linting
        run: export PATH=$PATH:$(go env GOPATH)/bin && bash scripts/lint.sh
        working-directory: ${{ env.working-directory }}

      - name: Run Tests
        run: bash scripts/run-tests.sh
        working-directory: ${{ env.working-directory }}
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test